@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  margin: 0;
}
body {
  background-color: white;
  color: #191b3d;
  font-family: 'Source Sans Pro', sans-serif !important;
}
a {
  color: #2971C5;
  text-decoration: underline;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: #264b7f;
  }
}
p {
  margin: 0;
}
legend {
  margin-bottom: 1em;
}
fieldset {
  margin-bottom: 1em;
}
label {
  cursor: pointer;
}
b, strong, .strong {
  font-weight: bold;
}
